@font-face {
	font-family: 'Inter'; 
    font-weight: 400;
	src: local('Inter-Regular'),
    url(/fonts/Inter-Regular.ttf); 
}

@font-face {
	font-family: 'Inter'; 
    font-weight: 700;
	src:  local('Inter-Bold'),
    url(/fonts/Inter-Bold.ttf); 
}


@font-face {
	font-family: 'Mulish';
    font-weight: 400;
	src: local('Mulish-Regular'),
    url(/fonts/Mulish-Regular.ttf); 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Inter', sans-serif;
    
   
}


.header{
    min-height: 1018px;
    border: 3px dashed #f5f5f5;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.top__wrapper{
    min-height: 69px;
    
    align-items: center;
    display: flex;
}

.top{
    background-color: #f5f5f5;
}

.top__text{
    font-size: 17px;
    letter-spacing: 0.36px;
    color: #1C2752;
}


.social__link img{
    width: 100%;
}

.top__ul{
    display: flex;
    list-style: none;
    width: 156px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
}

.top__ul li{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.logo{
    display: block;
    width: 242px;
    height: 48px;
}

.logo img{
    width: 100%;
}

.item{
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
}


.item__img {
   width: 68px;
   height: 68px;
   background-color:#FFB342;
   border-radius: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
}

.item__text{
    margin-top: 7px;
}

.text__norm{
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.text__op{
    font-size: 17px;
    letter-spacing: 0.36px;
    color: #7E7E7E;
}

.middle__wrapper{
    min-height: 128px;
    display: flex;
    align-items: center;
}

.items{
    display: flex;
    margin-left: auto;
    width: 622px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.end{
    min-height: 813px;
    background: url('../img/main__bg.png') center center/cover no-repeat;
    padding-top: 270px;
    position: relative;
}

.end__subtitle{
    font-family: "Inter";
    font-size: 18px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    width: 622px;
    padding-left: 60px;
    margin-bottom: 30px;
    
}

.end__subtitle::before{
    position: absolute;
    content: url('../icons/gearwheel.svg');
    left: 20px;
}

.end__title{
    font-family: 'Mulish';
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 712px;
    margin-bottom: 30px;
}

.end__link{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #1C2752;
    padding: 19px 42px;
    background: #FFB342;
    border: 2px solid #FFB342;
    text-decoration: none;
}

.end__link:hover{
    background: #425eff;
    border: 2px solid #425eff;
    color:#f5f5f5;
}

.nav{
    display: flex;
    min-height: 88px;
    justify-content: space-around;
    align-items: center;
    background-color:#FFB342;
    position: absolute;
    width: 1200px;
    top: -27px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 643px;
    justify-content: space-between;
}

.menu__link{
    text-decoration: none;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #222222;
}

.menu__link:hover{
    color:#FFFFFF;
}

.menu__btn{
    font-size: 20px;
    line-height: 30px;
    padding: 19px 42px;
    letter-spacing: 0.36px;
    color: #F4F4F4;
    background-color: #1C2752;
    border: 2px solid #1C2752;
    text-decoration: none;
}

.menu__btn:hover{
    color:#1C2752;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

.welcome{
    min-height: 960px;
    padding: 140px 0;
}

.welcome__wrapper{
    display: flex;
    justify-content: space-between;
}

.welcome__img{
    width: 575px;
    height: 581px;
}

.welcome__img img{
    width: 100%;
    object-fit: cover;
}

.welcome__subtitle{
    font-size: 18px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;
    background: #F4F4F4;
    width: 249px;
    padding-left: 53px;
    padding-right: 20px;
    position:relative;
}

.welcome__subtitle::before{
    position: absolute;
    content:url('../img/helmit.png');
    left: 20px;
}

.welcome__title{
    font-family: 'Mulish';
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    color: #1C2752;

}

.welcome__text{
    letter-spacing: 0.36px;
    color: #7E7E7E;
}

.welocme__descr{
    width: 575px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome__ul{
    list-style: none;
    margin: 24px auto;
}

.welcome__li{
    position: relative;
    font-size: 17px;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    padding-left: 10px;
    margin-bottom: 10px;
}

.welcome__li::before{
    position: absolute;
    content:'';
    width: 6px;
    height: 1px;
    background-color: #7E7E7E;
    top: 49%;
    left: 0;


}

.welcome__footer__img{
    width: 198px;
    height: 220px;
    background-color:#F4F4F4;
    padding: 24px 43px;
   
}

.welcome__footer{
    display: flex;
   
}
.welcome__bigtext{
    font-family: 'Mulish';
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #FFB342;
    margin-bottom: 16px;
}

.welcome__text__img{
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.commercial{
    min-height: 900px;
    background-color:#FFB342;
    padding-top: 140px;
    position: relative;
}

.commercial__subtitle{
    font-size: 18px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;
    background: #F4F4F4;
    display: inline-block;
    padding-left: 53px;
    padding-right: 20px;
    position:relative;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 22px;
}

.commercial__subtitle::before{
    position: absolute;
    content:url('../img/helmit.png');
    left: 20px;
}

.commercial__title{
    font-family: 'Mulish';
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #1C2752;
    margin-bottom: 12px;
}

.commercial__descr{
    width: 720px;
    font-family: 'Inter';
    text-align: center;
    letter-spacing: 0.36px;
    color: #1C2752;
    margin: 0 auto;
    margin-bottom: 40px;
}

.commercial__links {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.commercial__links li{
    margin-right: 30px;
}

.commercial__links li:last-child{
    margin-right: 0;
}
.commercial__link{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #222222;
    border: 1px solid #1C2752;
    padding: 19px 42px;
    padding-left: 85px;
    position: relative;
}

.commercial__link:before{
    position: absolute;
    content: url('../icons/bank.png');
    left: 41px;
    top: 10px;
}

.commercial__bank:before{
    position: absolute;
    content: url('../icons/home.png');
    left: 41px;
    top: 10px;
}

.commercial__fabric:before{
    position: absolute;
    content: url('../icons/fabric.png');
    left: 41px;
    top: 10px;
}
.commercial__link:hover{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.electric__wrapper{
    display: flex;
    width: 1160px;
    min-height: 528px;
    background-color: #fff;
    padding: 60px;
    position: absolute;
    bottom: -98px;
}

.electric__descr{
    padding-right: 127px;
}

.electric__img img{
    width: 416px;
    height: 366px;
    margin-top: 12px;
}
.electric__subtitle{
    font-size: 17px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;
    background-color: #F4F4F4;
    display: inline;
    padding-left: 58px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 4px;
    position: relative;
    
}

.electric__subtitle::before{
    position: absolute;
    content: url('../img/manuf.png');
    left: 20px;
}

.electric__title{
    font-family: 'Mulish';
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    color: #1C2752;
    margin-bottom: 12px;
    margin-top: 40px;
}

.commercial__text{
    font-size: 18px;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    margin-bottom: 10px;
}

.electric__link{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #1C2752;
    background-color: #FFB342;
    border: 2px solid #FFB342;
    padding: 19px 40px;
    width: 190px;
    margin-top: 17px;
}

.electric__link:hover{
    background: #2e6150;
    border: 1px solid #2e6150;
}

.service{
    min-height: 1400px;
    background-color: #F4F4F4;
    padding-top: 240px;
}

.service__subtitle{
   
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;
    background-color:#fff;
    display: inline-block;
    padding-right: 20px;
    padding-left: 52px;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 22px;
}

.service__subtitle::before{
    position: absolute;
    content: url('../icons/note.png');
    left: 20px;
}

.service__title{
    font-family: 'Mulish';
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #1C2752;
    margin-bottom: 12px;
}

.service__descr{
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    width: 790px;
    margin-bottom: 50px;
}

.service__items{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.service__item{
    width: 380px;
    min-height: 378px;
    background-color:#1C2752;
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service__img{
    width: 48px;
    height: 48px;
}

.service__img img{
    width: 100%;
}

.item__title{
    font-family: 'Mulish';
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFB342;
}

.item__descr{
    letter-spacing: 0.36px;
    color: #D2D2D2;
}

.item__link{
    letter-spacing: 0.36px;
    color: #FFFFFF;
    text-decoration: none;
}

.item__link:hover{
    color:#FFB342;
}

.reason{
    min-height: 848px;
}
.reason__img{
    width: 50%;
    min-height: 848px;
    background: url('../img/reason__bg.png') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items:center
}
.reason__ul{
    width: 560px;
    min-height: 568px;
    background-color:rgba(28, 39, 82, 0.86);
    list-style: none;
    padding: 100px 80px;
   
}

.reason__li{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.white{
    border: 1px solid #fff;
    font-family: 'Mulish';
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    border-left: none;
    padding: 16px;
    width: 290px;
}
.orange{
    font-family: 'Mulish';
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.36px;
    color: #1C2752;
    background-color: #FFB342;
    border: 1px solid #FFB342;
    width: 110px;
    padding: 16px;
}

.reason__wrapper{
    display: flex;
}

.reason__descr{
    width: 50%;
    padding: 100px 66px;
}
.reason__sub{
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;
    background-color:#F4F4F4;
    position: relative;
    padding-left: 52px;
    padding-right: 20px;
    display: inline-block;
    margin-bottom: 23px;
}

.reason__sub::before{
    position: absolute;
    content: url('../icons/note.png');
    left: 20px;
}

.reason__title{
    font-family: 'Mulish';
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    color: #1C2752;
    margin-bottom: 11px;
}

.reason__text{
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    margin-bottom: 37px;
}

.li__title{
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.36px;
    color: #1C2752;
    margin-bottom: 8px;
}

.li__text{
    font-size: 17px;
    letter-spacing: 0.36px;
    color: #7E7E7E;
}

.descr__ul{
    list-style-type: none;
}
.descr__li{
    padding-left: 52px;
    padding-right: 70px;
    margin-bottom: 25px;
    position: relative;
}

.descr__li::before{
    position: absolute;
    content: url('../icons/ok.png');
    width: 32px;
    height: 32px;
    background-color: #FFB342;
    border-radius:100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descr__li:last-child{
    margin-bottom: 0;
}



